<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<appSettings>
  <add key="TextboxDefaulLocationPointX" value="0"/>
  <add key="TextboxDefaulLocationPointY" value="35"/>

  <add key="TextboxDefaultHeight" value="114"/>
  <add key="TextboxDefaultWidth" value="286"/>
  <add key="TextboxCollapseHeight" value="25"/>
  
  <add key="DefaultTopMarginPerNote" value="10"/>
  <add key="DefaultBottomMarginPerNote" value="10"/>
  
  <add key="NotePanelHeight" value="120"/>


</appSettings>
</configuration>